<template style="height: 100%;">
  <div style="height:100%">
    <div
      :class="{
        container: true,
        containerRows4: view !== 4,
        containerRows3: view === 4,
      }"
      style="height:100%"
    >
      <!-- <img alt="Vue logo" src="./assets/logo.png"> -->
      <div class="header">
        <div class="logo">
          <img src="../assets/printlogo.png" style="width: 35px; height: 35px;" alt="Avatar" />
          <span data-v-8dc7cce2>Verify your identity online.</span>
        </div>
        <div class="total">
          <span>Total Points</span>
          <md-badge class="md-primary md-square badge" md-content="6" />
        </div>
      </div>
      <div
        :class="{
          options: true,
          optionsColumnsIdentity: view === 1,
          optionsColumnsAddress: view === 2,
        }"
        v-if="view !== 4"
      >
        <OptionItem
          @clicked="showSubMenu"
          v-bind:type="'vertical'"
          v-bind:points="'3'"
          v-if="view === 1"
        ></OptionItem>
        <OptionItem
          @clicked="showSubMenu"
          v-bind:type="'horizontal'"
          v-bind:view="'passport'"
          v-bind:title="'Passport'"
          v-bind:isCheck="true"
          v-bind:icon="'fal fa-passport fa-2x'"
          v-if="view === 1"
        ></OptionItem>
        <OptionItem
          @clicked="showSubMenu"
          v-bind:type="'horizontal'"
          v-bind:view="'driver'"
          v-bind:title="'Driver Lisence'"
          v-bind:isCheck="true"
          v-bind:icon="'fal fa-id-badge fa-2x'"
          v-if="view === 1"
        ></OptionItem>
        <OptionItem
          @clicked="showSubMenu"
          v-bind:type="'vertical'"
          v-bind:points="'2'"
          v-if="view === 1"
        ></OptionItem>
        <OptionItem
          @clicked="showSubMenu"
          v-bind:type="'horizontal'"
          v-bind:view="'socialSecurity'"
          v-bind:title="'Social Security'"
          v-bind:icon="'fal fa-id-card fa-2x'"
          v-if="view === 1"
        ></OptionItem>
        <OptionItem
          @clicked="showSubMenu"
          v-bind:type="'horizontal'"
          v-bind:view="'debitCredit'"
          v-bind:title="'Debit/Credit Card'"
          v-bind:icon="'fal fa-credit-card fa-2x'"
          v-if="view === 1"
        ></OptionItem>
        <OptionItem @clicked="showSubMenu" v-bind:type="'vertical'" v-bind:points="'1'"></OptionItem>
        <OptionItem
          @clicked="showSubMenu"
          v-bind:type="'horizontal'"
          v-bind:view="'bankStatement'"
          v-bind:title="'Bank Statements'"
          v-bind:icon="'fal fa-university fa-2x'"
          v-if="view === 1 || view === 2"
        ></OptionItem>
        <OptionItem
          @clicked="showSubMenu"
          v-bind:type="'horizontal'"
          v-bind:view="'utility'"
          v-bind:title="'Utility/Credit Card bill'"
          v-bind:icon="'fal fa-money-bill fa-2x'"
          v-if="view === 1 || view === 2"
        ></OptionItem>
        <OptionItem
          @clicked="showSubMenu"
          v-bind:type="'horizontal'"
          v-bind:view="'lease'"
          v-bind:title="'Lease/Rental Agreement'"
          v-bind:icon="'fal fa-handshake fa-2x'"
          v-if="view === 1 || view === 2"
        ></OptionItem>
        <OptionItem
          @clicked="showSubMenu"
          v-bind:type="'horizontal'"
          v-bind:view="'propertyTax'"
          v-bind:title="'Property Tax Bill or Statement'"
          v-bind:icon="'fal fa-file-invoice-dollar fa-2x'"
          v-if="view === 1 || view === 2"
        ></OptionItem>
        <OptionItem
          @clicked="showSubMenu"
          v-bind:type="'horizontal'"
          v-bind:view="'amazonAccount'"
          v-bind:title="'Amazon'"
          v-bind:icon="'fab fa-amazon fa-2x'"
          v-if="view === 2"
        ></OptionItem>
        <OptionItem
          @clicked="showSubMenu"
          v-bind:type="'horizontal'"
          v-bind:view="'paypalAccount'"
          v-bind:title="'Paypal'"
          v-bind:icon="'fab fa-cc-paypal fa-2x'"
          v-if="view === 2"
        ></OptionItem>
        <OptionItem
          @clicked="showSubMenu"
          v-bind:type="'horizontal'"
          v-bind:view="'ebayAccount'"
          v-bind:title="'Ebay'"
          v-bind:icon="'fab fa-ebay fa-2x'"
          v-if="view === 2"
        ></OptionItem>
      </div>

      <div class="body">
        <div class="identity" v-show="view === 1">
          <div class="documentCard" v-show="submenu === 'passport' && !metadata">
            <div class="passportHeader">
              <h2>Passport</h2>
              <md-switch v-model="metadata">Metadata</md-switch>
            </div>

            <div class="cardContentHeader">
              <img src="../assets/20200125_113450.jpg" alt="Avatar" />
              <div>
                <div>
                  <span>First Name</span>
                  <b>07/23</b>
                </div>
                <div>
                  <span>Last Name</span>
                  <b>Mariano Rodriguez</b>
                </div>
                <div>
                  <span>Date of Birth</span>
                  <b>12/03/1988</b>
                </div>
              </div>
            </div>
            <div class="cardContentBody">
              <div>
                <span>Passport Number</span>
                <b>12345678</b>
              </div>
              <div>
                <span>Country</span>
                <b>Argentina</b>
              </div>
              <div>
                <span>Expiration</span>
                <b>07/23</b>
              </div>
            </div>
            <span class="footerPassport">{{ footerPassport }}</span>
            <div class="documentButtons">
              <md-button class="md-raised download">
                <i class="fas fa-download"></i>
                Download
              </md-button>
              <md-button class="md-raised md-accent">
                <i class="far fa-trash-alt"></i>
                Delete
              </md-button>
            </div>
          </div>
          <div class="documentCard" v-show="submenu === 'passport' && metadata">
            <div class="passportHeader">
              <h2>Metadata</h2>
              <md-switch v-model="metadata">Metadata</md-switch>
            </div>
            <img class="metadataImg" src="../assets/DrawDocumentMetadata.png" alt="Avatar" />
            <div class="metadataFooter">
              <h4>Labels</h4>
              <span class="metadataChips">
                <md-chip class="md-primary download">Identity document</md-chip>
                <md-chip class="md-primary download">Forehead</md-chip>
                <md-chip class="md-primary download">Passport</md-chip>
              </span>
            </div>
            <div class="documentButtons">
              <md-button class="md-raised md-primary download">Download</md-button>
              <md-button class="md-raised md-accent">Delete</md-button>
            </div>
          </div>
          <div class="socialSecurity" v-show="submenu === 'driver'">
            <h2>Driver License</h2>
            <div class="card">
              <div class="card-media">
                <img src="../assets/id_scan.png" alt="People" style="width:200px; height: 200px" />
              </div>

              <div class="card-content">
                Make sure you are in a well-lit room and the whole photo page is
                inside the frame.
              </div>
              <div class="uploadFrontBack">
                <md-button class="md-raised md-primary">Upload (Front)</md-button>
                <md-button class="md-raised md-primary">Upload (Back)</md-button>
              </div>
            </div>
          </div>
          <div class="socialSecurity" v-show="submenu === 'socialSecurity'">
            <h2>Social Security Card</h2>
            <div class="card">
              <div class="card-media">
                <img src="../assets/id_scan.png" alt="People" style="width:200px; height: 200px" />
              </div>

              <div class="card-content">
                Make sure you are in a well-lit room and the whole photo page is
                inside the frame.
              </div>
              <div class="uploadFrontBack">
                <md-button class="md-raised md-primary">Upload (Front)</md-button>
                <md-button class="md-raised md-primary">Upload (Back)</md-button>
              </div>
            </div>
          </div>
          <div class="socialSecurity" v-show="submenu === 'debitCredit'">
            <h2>Debit or Credit Card</h2>
            <div class="card">
              <div class="card-media">
                <img src="../assets/id_scan.png" alt="People" style="width:200px; height: 200px" />
              </div>

              <div class="card-content">
                Make sure you are in a well-lit room and the whole photo page is
                inside the frame.
              </div>
              <div class="uploadFrontBack">
                <md-button class="md-raised md-primary">Upload (Front)</md-button>
                <md-button class="md-raised md-primary">Upload (Back)</md-button>
              </div>
            </div>
          </div>
          <div class="socialSecurity" v-show="submenu === 'bankStatement'">
            <h2>Bank Statements</h2>
            <div class="card">
              <div class="card-media">
                <img src="../assets/id_scan.png" alt="People" style="width:200px; height: 200px" />
              </div>

              <div class="card-content">
                Make sure you are in a well-lit room and the whole photo page is
                inside the frame.
              </div>
              <div class="uploadFrontBack">
                <md-button class="md-raised md-primary">Upload (Front)</md-button>
                <md-button class="md-raised md-primary">Upload (Back)</md-button>
              </div>
            </div>
          </div>
          <div class="socialSecurity" v-show="submenu === 'utility'">
            <h2>Utility or Credit Card Bill</h2>
            <div class="card">
              <div class="card-media">
                <img src="../assets/id_scan.png" alt="People" style="width:200px; height: 200px" />
              </div>

              <div class="card-content">
                Make sure you are in a well-lit room and the whole photo page is
                inside the frame.
              </div>
              <div class="uploadFrontBack">
                <md-button class="md-raised md-primary">Upload (Front)</md-button>
                <md-button class="md-raised md-primary">Upload (Back)</md-button>
              </div>
            </div>
          </div>
          <div class="socialSecurity" v-show="submenu === 'lease'">
            <h2>Lease or Rental Agreement</h2>
            <div class="card">
              <div class="card-media">
                <img src="../assets/id_scan.png" alt="People" style="width:200px; height: 200px" />
              </div>

              <div class="card-content">
                Make sure you are in a well-lit room and the whole photo page is
                inside the frame.
              </div>
              <div class="uploadFrontBack">
                <md-button class="md-raised md-primary">Upload (Front)</md-button>
                <md-button class="md-raised md-primary">Upload (Back)</md-button>
              </div>
            </div>
          </div>
          <div class="socialSecurity" v-show="submenu === 'propertyTax'">
            <h2>Property Tax Bill or Statement</h2>
            <div class="card">
              <div class="card-media">
                <img src="../assets/id_scan.png" alt="People" style="width:200px; height: 200px" />
              </div>

              <div class="card-content">
                Make sure you are in a well-lit room and the whole photo page is
                inside the frame.
              </div>
              <div class="uploadFrontBack">
                <md-button class="md-raised md-primary">Upload (Front)</md-button>
                <md-button class="md-raised md-primary">Upload (Back)</md-button>
              </div>
            </div>
          </div>
        </div>
        <div class="proofOfAddress" v-show="view === 2">
          <div class="socialSecurity" v-show="submenu === 'socialSecurity'">
            <h2>Social Security Card</h2>
            <div class="card">
              <div class="card-media">
                <img src="../assets/id_scan.png" alt="People" style="width:200px; height: 200px" />
              </div>

              <div class="card-content">
                Make sure you are in a well-lit room and the whole photo page is
                inside the frame.
              </div>
              <div class="uploadFrontBack">
                <md-button class="md-raised md-primary">Upload (Front)</md-button>
                <md-button class="md-raised md-primary">Upload (Back)</md-button>
              </div>
            </div>
          </div>
          <div class="socialSecurity" v-show="submenu === 'debitCredit'">
            <h2>Debit or Credit Card</h2>
            <div class="card">
              <div class="card-media">
                <img src="../assets/id_scan.png" alt="People" style="width:200px; height: 200px" />
              </div>

              <div class="card-content">
                Make sure you are in a well-lit room and the whole photo page is
                inside the frame.
              </div>
              <div class="uploadFrontBack">
                <md-button class="md-raised md-primary">Upload (Front)</md-button>
                <md-button class="md-raised md-primary">Upload (Back)</md-button>
              </div>
            </div>
          </div>
          <div class="socialSecurity" v-show="submenu === 'bankStatement'">
            <h2>Bank Statements</h2>
            <div class="card">
              <div class="card-media">
                <img src="../assets/id_scan.png" alt="People" style="width:200px; height: 200px" />
              </div>

              <div class="card-content">
                Make sure you are in a well-lit room and the whole photo page is
                inside the frame.
              </div>
              <div class="uploadFrontBack">
                <md-button class="md-raised md-primary">Upload (Front)</md-button>
                <md-button class="md-raised md-primary">Upload (Back)</md-button>
              </div>
            </div>
          </div>
          <div class="socialSecurity" v-show="submenu === 'utility'">
            <h2>Utility or Credit Card Bill</h2>
            <div class="card">
              <div class="card-media">
                <img src="../assets/id_scan.png" alt="People" style="width:200px; height: 200px" />
              </div>

              <div class="card-content">
                Make sure you are in a well-lit room and the whole photo page is
                inside the frame.
              </div>
              <div class="uploadFrontBack">
                <md-button class="md-raised md-primary">Upload (Front)</md-button>
                <md-button class="md-raised md-primary">Upload (Back)</md-button>
              </div>
            </div>
          </div>
          <div class="socialSecurity" v-show="submenu === 'lease'">
            <h2>Lease or Rental Agreement</h2>
            <div class="card">
              <div class="card-media">
                <img src="../assets/id_scan.png" alt="People" style="width:200px; height: 200px" />
              </div>

              <div class="card-content">
                Make sure you are in a well-lit room and the whole photo page is
                inside the frame.
              </div>
              <div class="uploadFrontBack">
                <md-button class="md-raised md-primary">Upload (Front)</md-button>
                <md-button class="md-raised md-primary">Upload (Back)</md-button>
              </div>
            </div>
          </div>
          <div class="socialSecurity" v-show="submenu === 'propertyTax'">
            <h2>Property Tax Bill or Statement</h2>
            <div class="card">
              <div class="card-media">
                <img src="../assets/id_scan.png" alt="People" style="width:200px; height: 200px" />
              </div>

              <div class="card-content">
                Make sure you are in a well-lit room and the whole photo page is
                inside the frame.
              </div>
              <div class="uploadFrontBack">
                <md-button class="md-raised md-primary">Upload (Front)</md-button>
                <md-button class="md-raised md-primary">Upload (Back)</md-button>
              </div>
            </div>
          </div>
          <div class="proofOfAddressView" v-show="submenu === 'address'">
            <h2>Proof of Address</h2>
            <form novalidate class="md-layout formAddress" @submit.prevent="validateUser">
              <md-card class="md-layout-item">
                <md-card-content class="formContent">
                  <div class="md-layout md-gutter">
                    <div class="md-layout-item md-small-size-100">
                      <md-field :class="getValidationClass('firstAddress')">
                        <label for="first-address">Address Line 1</label>
                        <md-input
                          name="first-address"
                          id="first-address"
                          autocomplete="first-address"
                          v-model="form.firstAddress"
                          :disabled="sending"
                        />
                        <span
                          class="md-error"
                          v-if="!$v.form.firstAddress.required"
                        >Address Line 1 is required</span>
                        <span
                          class="md-error"
                          v-else-if="!$v.form.firstAddress.minlength"
                        >Invalid Address Line 1</span>
                      </md-field>
                    </div>
                  </div>
                  <div class="md-layout md-gutter">
                    <div class="md-layout-item md-small-size-100">
                      <md-field :class="getValidationClass('secondAddress')">
                        <label for="second-address">Address Line 2</label>
                        <md-input
                          name="second-address"
                          id="second-address"
                          autocomplete="second-address"
                          v-model="form.secondAddress"
                          :disabled="sending"
                        />
                        <span
                          class="md-error"
                          v-if="!$v.form.secondAddress.required"
                        >Address line 2 is required</span>
                        <span
                          class="md-error"
                          v-else-if="!$v.form.secondAddress.minlength"
                        >Invalid Address Line 2</span>
                      </md-field>
                    </div>
                  </div>
                  <div class="md-layout md-gutter">
                    <div class="md-layout-item md-small-size-100">
                      <md-field :class="getValidationClass('city')">
                        <label for="city">City</label>
                        <md-input
                          name="city"
                          id="city"
                          autocomplete="city"
                          v-model="form.city"
                          :disabled="sending"
                        />
                        <span class="md-error" v-if="!$v.form.city.required">City is required</span>
                        <span class="md-error" v-else-if="!$v.form.city.minlength">Invalid City name</span>
                      </md-field>
                    </div>
                  </div>
                  <div class="md-layout md-gutter">
                    <div class="md-layout-item md-small-size-100">
                      <md-field :class="getValidationClass('state')">
                        <label for="state">State</label>
                        <md-input
                          name="state"
                          id="state"
                          autocomplete="state"
                          v-model="form.state"
                          :disabled="sending"
                        />
                        <span class="md-error" v-if="!$v.form.state.required">State is required</span>
                        <span class="md-error" v-else-if="!$v.form.state.minlength">Invalid State</span>
                      </md-field>
                    </div>
                  </div>
                  <div class="md-layout-item md-small-size-100">
                    <md-field :class="getValidationClass('postalCode')">
                      <label for="postal-code">Postal code</label>
                      <md-input
                        name="postal-code"
                        id="postal-code"
                        autocomplete="postal-code"
                        v-model="form.postalCode"
                        :disabled="sending"
                      />
                      <span
                        class="md-error"
                        v-if="!$v.form.postalCode.required"
                      >Postal Code is required</span>
                      <span
                        class="md-error"
                        v-else-if="!$v.form.postalCode.minlength"
                      >Invalid last name</span>
                    </md-field>
                  </div>
                  <div class="md-layout-item md-small-size-100">
                    <md-field :class="getValidationClass('country')">
                      <label for="country">Country</label>
                      <md-input
                        name="country"
                        id="country"
                        autocomplete="country"
                        v-model="form.country"
                        :disabled="sending"
                      />
                      <span class="md-error" v-if="!$v.form.country.required">Country is required</span>
                      <span
                        class="md-error"
                        v-else-if="!$v.form.country.minlength"
                      >Invalid last name</span>
                    </md-field>
                  </div>
                </md-card-content>

                <md-progress-bar md-mode="indeterminate" v-if="sending" />

                <md-card-actions class="createUser">
                  <md-button
                    type="submit"
                    class="md-raised md-primary download"
                    :disabled="sending"
                  >Create user</md-button>
                </md-card-actions>
              </md-card>

              <md-snackbar :md-active.sync="userSaved">Address was saved with success!</md-snackbar>
            </form>
          </div>
          <div class="socialSecurity" v-show="submenu === 'amazonAccount'">
            <h2>Link My Amazon Account</h2>
            <div class="card">
              <div class="card-media">
                <img src="../assets/amazon.png" alt="People" style="width:100px; height: 50px" />
              </div>
            </div>
          </div>
          <div class="socialSecurity" v-show="submenu === 'paypalAccount'">
            <h2>Link My Amazon Account</h2>
            <div class="card">
              <div class="card-media">
                <img src="../assets/paypal.png" alt="People" style="width:100px; height: 50px" />
              </div>
            </div>
          </div>
          <div class="socialSecurity" v-show="submenu === 'ebayAccount'">
            <h2>Link My Amazon Account</h2>
            <div class="card">
              <div class="card-media">
                <img src="../assets/ebay.png" alt="People" style="width:100px; height: 50px" />
              </div>
            </div>
          </div>
        </div>
        <div class="myDocuments" v-show="view === 3">
          <h2>My Documents</h2>
          <md-list class="md-triple-line">
            <md-list-item>
              <md-avatar>
                <i class="fad fa-file-alt"></i>
              </md-avatar>

              <div class="md-list-item-text">
                <span>jchaos@dmsorg.ky</span>
                <span>Brunch this weekend?</span>
                <p>Expires on Jul 06, 2020</p>
              </div>

              <md-button class="md-icon-button md-list-action">
                <md-icon>
                  <i class="fas fa-trash-alt"></i>
                </md-icon>
              </md-button>
            </md-list-item>

            <md-divider class="md-inset"></md-divider>

            <md-list-item>
              <md-avatar>
                <i class="fas fa-file-alt"></i>
              </md-avatar>

              <div class="md-list-item-text">
                <span>jachaos@gmail.com</span>
                <span>Summer BBQ</span>
                <p>Expires on Jul 06, 2020</p>
              </div>

              <md-button class="md-icon-button md-list-action">
                <md-icon>
                  <i class="fas fa-trash-alt"></i>
                </md-icon>
              </md-button>
            </md-list-item>

            <md-divider class="md-inset"></md-divider>

            <md-list-item>
              <md-avatar>
                <i class="fas fa-file-alt"></i>
              </md-avatar>

              <div class="md-list-item-text">
                <span>jachaos@gmail.com</span>
                <span>Oui oui</span>
                <p>Expires on Jul 06, 2020</p>
              </div>

              <md-button class="md-icon-button md-list-action">
                <md-icon>
                  <i class="fas fa-trash-alt"></i>
                </md-icon>
              </md-button>
            </md-list-item>

            <md-divider class="md-inset"></md-divider>

            <md-list-item>
              <md-avatar>
                <i class="fas fa-file-alt"></i>
              </md-avatar>

              <div class="md-list-item-text">
                <span>jchaos@dmsorg.ky</span>
                <span>Order confirmation</span>
                <p>Expires on Jul 06, 2020</p>
              </div>

              <md-button class="md-icon-button md-list-action">
                <md-icon>
                  <i class="fas fa-trash-alt"></i>
                </md-icon>
              </md-button>
            </md-list-item>
          </md-list>
          <div class="upload">
            <md-button class="md-raised md-primary download">Upload</md-button>
          </div>
        </div>
        <div class="share" v-show="view === 4">
          <h2>ID Shared With</h2>
          <md-list class="md-triple-line">
            <md-list-item>
              <md-avatar>
                <i class="fas fa-file-alt"></i>
              </md-avatar>

              <div class="md-list-item-text">
                <span>jachaos@gmail.com</span>
                <span>Summer BBQ</span>
                <p>Expires on Jul 06, 2020</p>
              </div>

              <md-button class="md-icon-button md-list-action trash">
                <md-icon>
                  <i class="fas fa-trash-alt"></i>
                </md-icon>
              </md-button>
            </md-list-item>

            <md-divider class="md-inset"></md-divider>

            <md-list-item>
              <md-avatar>
                <i class="fas fa-file-alt"></i>
              </md-avatar>

              <div class="md-list-item-text">
                <span>jachaos@gmail.com</span>
                <span>Oui oui</span>
                <p>Expires on Jul 06, 2020</p>
              </div>

              <md-button class="md-icon-button md-list-action trash">
                <md-icon>
                  <i class="fas fa-trash-alt"></i>
                </md-icon>
              </md-button>
            </md-list-item>

            <md-divider class="md-inset"></md-divider>

            <md-list-item>
              <md-avatar>
                <i class="fas fa-file-alt"></i>
              </md-avatar>

              <div class="md-list-item-text">
                <span>jchaos@dmsorg.ky</span>
                <span>Order confirmation</span>
                <p>Expires on Jul 06, 2020</p>
              </div>

              <md-button class="md-icon-button md-list-action trash">
                <md-icon>
                  <i class="fas fa-trash-alt"></i>
                </md-icon>
              </md-button>
            </md-list-item>
          </md-list>
          <div class="upload">
            <md-button class="md-raised md-primary download">New Share</md-button>
          </div>
        </div>
      </div>
      <md-bottom-bar class="footer md-primary" md-type="shift">
        <md-bottom-bar-item
          to="/components/bottom-bar"
          exact
          md-label="Identity"
          md-icon="fingerprint"
          @click="showView(1)"
        ></md-bottom-bar-item>
        <md-bottom-bar-item
          to="/components/bottom-bar/posts"
          md-label="Address"
          md-icon="assignment_ind"
          @click="showView(2)"
        ></md-bottom-bar-item>

        <md-bottom-bar-item
          to="/components/bottom-bar/asdf"
          md-label="Share"
          md-icon="share"
          @click="showView(4)"
        ></md-bottom-bar-item>
      </md-bottom-bar>
    </div>
  </div>
</template>

<script>
import { validationMixin } from "vuelidate";
import {
  required,
  //email,
  minLength,
  // maxLength,
} from "vuelidate/lib/validators";

import OptionItem from "./OptionItem.vue";

export default {
  name: "Mobile",
  mixins: [validationMixin],
  components: {
    OptionItem,
  },
  data: () => ({
    metadata: false,
    theme: "red",
    showNavigation: false,
    view: 1,
    submenu: "passport",
    initial: "Initial Value",
    form: {
      firstAddress: null,
      secondAddress: null,
      city: null,
      state: null,
      postalCode: null,
      country: null,
    },
    userSaved: false,
    sending: false,
    showContainer: false,
    showLogOut: false,
    footerPassport:
      "P<ESPCHAOS<PROVECHO<<JAVIER<ALEJANDRO<<<<<<< AAI4351029ESP8111018M2401025A5145121100<<<86",
  }),
  validations: {
    form: {
      firstAddress: {
        required,
        minLength: minLength(3),
      },
      secondAddress: {
        required,
        minLength: minLength(3),
      },
      city: {
        required,
        maxLength: minLength(3),
      },
      state: {
        required,
      },
      postalCode: {
        required,
      },
      country: {
        required,
      },
    },
  },
  watch: {
    metadata: (val) => {
      console.log(val);
    },
  },
  methods: {
    getWindowWidth() {
      console.log(document.documentElement.clientWidth);
      return document.documentElement.clientWidth;
    },

    getWindowHeight() {
      console.log(document.documentElement.clientHeight);

      return document.documentElement.clientHeight;
    },
    signOut() {
      this.showLogOut = true;
    },
    showView(val) {
      this.view = val;
      this.submenu = val === 1 ? "passport" : "address";
    },
    showSubMenu(val) {
      this.submenu = val;
    },
    clearNewPosts() {
      this.clearCheckPosts();
      this.newPosts = 0;
    },
    getValidationClass(fieldName) {
      const field = this.$v.form[fieldName];

      if (field) {
        return {
          "md-invalid": field.$invalid && field.$dirty,
        };
      }
    },
    clearForm() {
      this.$v.$reset();
      this.form.firstAddress = null;
      this.form.secondAddress = null;
      this.form.city = null;
      this.form.state = null;
      this.form.postalCode = null;
      this.form.country = null;
    },
    saveUser() {
      this.sending = true;

      // Instead of this timeout, here you can call your API
      window.setTimeout(() => {
        // this.lastUser = `${this.form.firstName} ${this.form.lastName}`;
        this.userSaved = true;
        this.sending = false;
        this.clearForm();
      }, 1500);
    },
    validateUser() {
      this.$v.$touch();

      if (!this.$v.$invalid) {
        this.saveUser();
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.formContent {
  display: grid;
  grid-template-rows: 55px 55px 55px 55px 55px 50px;
}

.createUser {
  display: grid;
  justify-content: center !important;
}

.formAddress {
  display: grid !important;
  align-self: start;
}

.container {
  height: 100%;
  display: grid;
  grid-gap: 10px;
}

.containerRows4 {
  grid-template-rows: 4rem 5rem 1fr 4rem;
}

.containerRows3 {
  grid-template-rows: 4rem 1fr 4rem;
}

.optionsColumnsIdentity {
  grid-template-columns: 3rem 1fr 1fr 3rem 1fr 1fr 3rem 1fr 1fr 1fr 1fr;
}

.optionsColumnsAddress {
  grid-template-columns: 3rem 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.options {
  overflow-x: auto;
  display: grid;
}

::-webkit-scrollbar {
  display: none;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr;
  box-shadow: 3px 3px 5px 1px #ccc;
  align-items: center;
  justify-items: end;

  .logo {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-left: 15px;
    grid-gap: 10px;

    .burguer {
      grid-row-start: span 2;
      margin: 10px 0px 0 -30px;
      padding: 0;
    }

    span {
      font-size: 10px;
    }
  }

  .total {
    display: grid;
    grid-template-columns: 1fr 2rem;
    font-size: 10px;
    align-self: start;
    margin-top: 15px;
  }

  .badge {
    margin-right: 15px;
  }
}

.badge {
  margin-right: 20px;
}

.upload {
  display: grid;
  justify-content: center;
}

.socialSecurity {
  display: grid;
  justify-content: center;
  align-content: start;
  h2 {
    display: grid;
    justify-self: center;
  }

  .card {
    padding: 20px 20px 20px 20px;
    display: grid;
    .card-media {
      display: grid;
      justify-content: center;
    }
  }

  .uploadFrontBack {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
  }
}

.body {
  display: grid;
  overflow-y: auto;
  grid-template-rows: 1fr;

  .documentCard {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    background: whitesmoke;
    align-items: center;

    .passportHeader {
      display: grid;
      grid-template-columns: 1fr 1fr;
      h2 {
        justify-self: center;
        display: grid;
        margin-bottom: 15px;
      }

      md-switch {
        justify-self: center;
        display: grid;
        margin-bottom: 15px;
      }

      div {
        justify-self: end;
      }
    }

    .metadataImg {
      height: 200px;
      width: 200px;
      justify-self: center;
    }

    .cardContentHeader {
      display: grid;
      grid-template-columns: 1fr 1fr;
      /* grid-gap: 10px; */
      margin: 5px 5px 5px 5px;

      div {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        padding-left: 10px;
        div {
          display: grid;
          grid-template-rows: 1rem 1rem;
          grid-gap: 7px;
        }
      }

      img {
        height: 150px;
        width: 150px;
        display: grid;
        justify-self: center;
        border-radius: 50%;
      }
    }
    .cardContentBody {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-gap: 10px;
      padding: 5px;

      div {
        display: grid;
        grid-auto-rows: 1fr 1fr 1fr;
        div {
          display: grid;
          grid-template-rows: 2rem 1rem;
        }
      }
    }

    .metadataFooter {
      display: grid;
      grid-gap: 5px;
      grid-template-columns: auto 1fr;
      justify-self: center;
      align-items: center;
    }

    .footerPassport {
      zoom: 90%;
      padding: 5px;
    }
  }

  .documentButtons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;

    font-size: small;
  }

  .download {
    color: white !important;
    background-color: steelblue !important;
  }

  .proofOfAddress {
    display: grid;
    align-content: start;

    .proofOfAddressView {
      display: grid;
      align-content: start;
    }
    h2 {
      display: grid;
      justify-self: center;
    }
  }

  .myDocuments {
    display: grid;
    align-content: start;

    h2 {
      display: grid;
      justify-self: center;
    }
  }

  .share {
    display: grid;
    align-content: start;

    h2 {
      display: grid;
      justify-self: center;
    }

    .trash {
      margin-top: 20px;
    }
  }
}

.footer {
  display: grid;
  justify-self: center;
  background: #075d7c !important;

  button {
    margin: 0 15px 0 15px;
  }
}
</style>
