<template>
  <div class="container">
    <!-- <img alt="Vue logo" src="./assets/logo.png"> -->
    <div class="header">
      <div class="logo">
        <img
          src="../assets/printlogo.png"
          style="width: 35px; height: 35px;"
          alt="Avatar"
        />
        <span data-v-8dc7cce2>Verify your identity online.</span>
      </div>
      <div class="middle"></div>
      <div class="login"></div>
    </div>
    <div class="body">
      <h1>Welcome</h1>
      <md-field>
        <md-icon class="fa fa-user-circle"></md-icon>
        <label>Username</label>
        <md-input></md-input>
      </md-field>
      <md-field>
        <md-icon class="fa fa-key"></md-icon>
        <label>Password</label>
        <md-input type="password"></md-input>
      </md-field>
      <md-checkbox v-model="boolean" class="md-primary"
        >Remember Me</md-checkbox
      >
      <md-button class="md-raised md-primary" @click="goToHome()"
        >Login</md-button
      >
      <span>Don't have an account? Sign Up Forgot your password?</span>
    </div>
    <div class="footer">Privacy Policy • Terms & Conditions</div>
  </div>
</template>

<script>
//import HelloWorld from './components/HelloWorld.vue'

export default {
  name: "Login",
  data: function() {
    return {
      view: 1,
    };
  },
  components: {
    // HelloWorld
  },
  methods: {
    goToHome() {
      window.location.href = "http://localhost:8081/home";
    },
  },
};
</script>

<style lang="scss" scoped>
.container {
  display: grid;
  grid-template-rows: 4rem 1fr 4rem;
  grid-gap: 10px;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

  .header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    box-shadow: 3px 3px 5px 1px #ccc;
    align-items: center;

    .logo {
      display: grid;
      grid-template-columns: auto 1fr;
      margin-left: 15px;
      grid-gap: 10px;

      .burguer {
        grid-row-start: span 2;
        margin: 10px 0px 0 -30px;
        padding: 0;
      }

      span {
        font-size: 10px;
      }
    }

    .middle {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(1rem, auto));
      height: 100%;
      justify-content: space-evenly;
      align-items: center;

      div {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 15px;
        height: 100%;
        padding: 0 15px 0 15px;

        cursor: pointer;

        svg {
          align-self: center;
        }
        span {
          align-self: center;
        }
      }
      div:hover {
        background-color: lightgray;
      }
    }

    .login {
      display: grid;
      grid-template-columns: auto;

      svg {
        justify-self: right;
        margin-right: 15px;
      }
    }
  }

  .body {
    display: grid;
    grid-template-rows: 5rem 3rem 4rem 3rem 3rem 3rem;
    grid-template-columns: 250px;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;
    padding: 50px 75px 50px 75px;
    grid-gap: 15px;

    h1 {
      color: #075d7c;
      justify-self: center;
    }
  }

  .footer {
    display: grid;
    box-shadow: 2px 2px 2px 2px #ccc;
    align-items: center;
    justify-items: center;
  }
}
</style>
