<template>
  <div>
    <div class="vertical" v-if="type === 'vertical'">
      <span>{{points}} Points</span>
    </div>
    <div
      :class="{
        optBox: true,
        check: isCheck
      }"
      v-if="type === 'horizontal'"
      @click="showSubMenu()"
    >
      <div class="horizontal">
        <div>
          <i :class="`${icon}`"></i>
        </div>
        <span>{{title}}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["type", "points", "title", "icon", "view", "isCheck"],
  methods: {
    showSubMenu() {
      this.$emit("clicked", this.view);
    },
  },
};
</script>
    
<style lang="scss" scope>
.optBox {
  display: grid;
  grid-template-columns: 1fr;
  border-right: 1px solid white;
  height: 100%;
  padding-right: 7px;
  min-width: 100px;
  cursor: pointer;

  .horizontal {
    align-self: end;
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 2rem 2rem;
    height: 100%;
    font-size: 10px;
    color: black;
    div {
      display: grid;
      grid-gap: 5px;
      justify-items: center;
      align-self: end;
      svg {
        justify-self: center;
      }
    }

    .leaseRental {
      margin-left: 15px;
    }

    span {
      justify-self: center;
      align-self: center;
    }
  }
}

.vertical {
  writing-mode: vertical-rl;
  line-height: 2rem;
  transform: rotate(180deg);
  display: grid;
  align-self: center;
  height: 5rem;
  span {
    justify-self: center;
    font-size: 13px;
    margin: 10px;
  }
}

.check {
  background: lightgreen;
}
</style>