<template>
  <div style="height: 100%" class="parentContainer">
    <div v-if="isHome()" style="width: 100vw; height: 100vh; display: grid; ">
      <Home />
    </div>
    <div v-if="isLogin()" style="width: 100vw; height: 100vh; display: grid; ">
      <Login />
    </div>
  </div>
</template>

<script>
import Home from "./components/Home.vue";
import Login from "./components/Login.vue";

export default {
  name: "App",
  data: function () {
    return {
      view: 1,
    };
  },
  components: {
    Home,
    Login,
  },
  methods: {
    isHome() {
      return (
        !window.location.href.includes("login") &&
        !window.location.href.includes("responsive")
      );
    },
    isLogin() {
      return window.location.href.includes("login");
    },
  },
};
</script>

<style lang="scss" scoped>
.parentContainer {
  display: grid;

  align-content: center;
  justify-content: center;
  height: 100%;
}
.container {
  display: grid;
  grid-template-rows: 4rem 1fr 4rem;
  grid-gap: 10px;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

  .header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    box-shadow: 3px 3px 5px 1px #ccc;
    align-items: center;

    .logo {
      display: grid;
      grid-template-rows: auto auto;
      margin-left: 15px;

      span {
        font-size: 12px;
      }
    }

    .middle {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(1rem, auto));
      height: 100%;
      justify-content: space-evenly;
      align-items: center;

      div {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: 15px;
        height: 100%;
        padding: 0 15px 0 15px;

        cursor: pointer;

        svg {
          align-self: center;
        }
        span {
          align-self: center;
        }
      }
      div:hover {
        background-color: lightgray;
      }
    }

    .login {
      display: grid;
      grid-template-columns: auto;

      svg {
        justify-self: right;
        margin-right: 15px;
      }
    }
  }

  .body {
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    justify-items: center;
    align-items: center;
    font-size: 15px;
    .workflow {
      display: grid;
      grid-template-columns: repeat(4, 15rem);
      grid-gap: 15px;

      .card {
        display: grid;
        grid-template-rows: 3rem 1rem 4rem;
        box-shadow: 1px 1px 9px 3px #ccc;
        cursor: pointer;

        .title {
          display: grid;
          grid-template-columns: auto 1fr;
          background: lightskyblue;
          font-size: 15px;

          span {
            justify-self: left;
            align-self: center;
          }

          svg {
            margin: 15px 15px 15px 15px;
          }
        }

        .subtitle {
          font-size: 10px;
          color: lightslategrey;
          background-color: aliceblue;
          text-align: center;
        }

        svg {
          justify-self: center;
          align-self: center;
        }
      }

      .card:hover {
        background-color: lightgray;
      }
    }
  }

  .footer {
    display: grid;
    box-shadow: 2px 2px 2px 2px #ccc;
    align-items: center;
    justify-items: center;
  }
}
</style>
